.inputLogin{

    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
    border-radius: 5px;
    padding-left: 14px;
}


.inputLogin::placeholder{
    color: gray;
}

.user-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.round{
    border-radius: 50%;
}

.user-wrapper{
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

.button-image{
    text-align: center;
}

.button-wrapper{
    padding: 15px 10px;
    box-shadow: 2px 5px 7px #222;
    transition: all .3s;
    cursor: pointer;
    border-radius: 15px;
    width: 80%;
    background: rgba(255,255,255,0.7);
}

.button-wrapper:hover{
    transform: translateY(-10px);
}

.button-text{
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}


.signIn{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.input-user{
    background: rgba(255,255,255,.8);
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 10px;
}